.jumbotron {
    background-color: rgb(216, 250, 121);
    color: black;
    margin-top: 50px;
    padding: 10px 50px;
}

footer {
    padding: 10px 50px;
    background-color: rgb(216, 250, 121);
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel {
    flex: 1 220px;
    margin-top: 10px;
    padding: 2px 5px;
}

.carousel {
    margin-bottom: 10px;
}

.btn-reserva {
    width: 100%;
}

.footer-address-icon {
    padding-right: 15px;
}

.tab-content {
    padding-top: 5px;
}

.imagen-card {
    height: 150px;
    object-fit: cover;
}