.jumbotron {
  background-color: #fffa19;
  color: black;
  padding: 10px 50px;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  padding: 10px 50px;
  background-color: #fffa19;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 220px;
  padding: 2px 5px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.carousel {
  margin-top: 0px;
  margin-bottom: 10px;
}
.btn-reserva {
  width: 100%;
}
.footer-address-icon {
  padding-right: 15px;
}
.tab-content {
  padding-top: 5px;
}
.imagen-card {
  height: 150px;
  object-fit: cover;
}
