$yellow: #ffffff;
@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: $yellow;
    color: black;
    padding: 10px 50px;
    @include margenes(50px, 0px);
}

footer {
    padding: 10px 50px;
    background-color: $yellow;
    @include margenes(10px, 0px);
}

.card-hotel {
    flex: 1 220px;
    padding: 2px 5px;
    @include margenes(10px, 0px);
}

.carousel {
    @include margenes(0px, 10px);
}

.btn-reserva {
    width: 100%;
}

.footer-address-icon {
    padding-right: 15px;
}

.tab-content {
    padding-top: 5px;
}

.imagen-card {
    height: 150px;
    object-fit: cover;
}